{% extends "layout.html" %}

{% block content %}
<section class="hero">
    <h1>Impulsa tu crecimiento con NubeClinic,<br><span class="destacado">la plataforma de salud líder en el mundo</span></h1>
    <p>Haz que los pacientes te encuentren fácilmente, gestiona tu consulta y ahorra tiempo.</p>
    <div class="cta">
        <form class="demo-form">
            <input type="email" placeholder="Email">
            <select>
                <option>¿Dónde necesitas implementar la solución?</option>
            </select>
            <button class="btn-primary">Solicitar una demo</button>
        </form>
    </div>
</section>
{% endblock %}
