<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>NubeClinic Pro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="{{ url_for('index') }}">
              <img src="{{ url_for('static', filename='img/logo-nubeclinic.png') }}" alt="NubeClinic" class="logo">
            </a>
        </div>
        <nav class="main-nav">
            <ul>
                <li><a href="#">Producto</a></li>
                <li><a href="#">Soluciones</a></li>
                <li><a href="{{ url_for('precios') }}">Precios</a></li>
                <li><a href="#">Biblioteca</a></li>
                {% if session.get("user_id") %}
                    <li><a href="{{ url_for('auth.logout') }}" class="btn-cerrar">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}" class="btn-outline">Registrarte gratis</a></li>
                    <li><a href="{{ url_for('auth.login') }}" class="btn-primary">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
