{% extends "layout.html" %}
{% block content %}
<div class="form-container">
    <h2>Configura tu cuenta de NubeClinic</h2>
    <form method="POST">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label>Apellido</label>
            <input type="text" name="surname" required>
        </div>
        <div class="form-group">
            <label>Especialidad</label>
            <input type="text" name="specialty" required>
        </div>
        <div class="form-group">
            <label>Ubicación de tu consulta</label>
            <input type="text" name="location" required>
        </div>
        <div class="form-group">
            <label>Teléfono móvil</label>
            <input type="tel" name="phone" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit" class="btn-principal">Crear cuenta de especialista</button>
    </form>
</div>
{% endblock %}
